:root {
  --background-primary: #fcfcfc;
  --background-secondary: #ffffff;

  --color-primary: #284ea7;
  --color-primary-light: #ebedf5;
  --color-check: #4aa652;
  --color-check-light: #edf5ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
