:root {
  --background-primary: #fcfcfc;
  --background-secondary: #ffffff;

  --color-primary: #284ea7;
  --color-primary-hover: #4262b0;
  --color-primary-light: #ebedf5;
  --color-check: #4aa652;
  --color-check-light: #edf5ed;
  --color-red: #e41414;
  --color-red-light: #f5c8c8;

  --color-text-primary: #090a0d;
  --color-text-secondary: #6e7177;

  --border: #dbdee3;
  --shadow: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-primary);
}

main {
  width: 50%;
  margin: auto;
  text-align: center;

  svg {
    margin: 1.5rem 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--color-primary);
    color: var(--background-secondary);
    padding: 0.5rem;
    border-radius: 10px;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--color-text-primary);
    padding-bottom: 1rem;
  }

  p {
    color: var(--color-text-secondary);
  }

  .container-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;

    padding: 2rem 0;

    .card {
      display: flex;
      align-items: center;
      gap: 1rem;

      background-color: var(--background-secondary);
      padding: 1rem;
      border: 1px solid var(--border);
      border-radius: 10px;
      box-shadow: 0 5px 15px -4px var(--shadow);

      .container-svg {
        svg {
          width: 2.5rem;
          height: 2.5rem;
        }

        .svg-1 {
          background-color: var(--color-primary-light);
          color: var(--color-primary);
        }

        .svg-2 {
          background-color: var(--color-red-light);
          color: var(--color-red);
        }

        .svg-3 {
          background-color: var(--color-check-light);
          color: var(--color-check);
        }
      }

      .container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4rem;

        .cantidad {
          color: var(--color-text-primary);
          font-size: 1.4rem;
        }
      }
    }
  }

  form {
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 5px 15px -4px var(--shadow);
    padding: 1.5rem;
    margin-bottom: 2rem;

    .container-input-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      input {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid var(--border);
        border-radius: 5px;
      }

      button {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 10px;
        color: var(--background-secondary);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-primary-hover);
        }

        svg {
          width: 1rem;
          height: 1rem;
          padding: 0;
          background-color: transparent;
          margin: 0;
        }
      }
    }

    .error {
      text-align: start;
      padding-top: 0.3rem;
      color: var(--color-red);
      display: none;
    }

    .error-no {
      display: block;
    }
  }

  .container-tareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 5px 15px -4px var(--shadow);

    svg {
      background-color: #eef2f7;
      color: #6e7178;
      border-radius: 50%;
    }

    .tereas {
      color: var(--color-text-primary);
      font-size: 1.4rem;
    }

    .subtitle-tareas {
      margin-bottom: 1.5rem;
    }
  }
}
